<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Server.Properties.Builder" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <Server.Properties.Builder>
            <setting name="ANTIVIRTUAL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPS" serializeAs="String">
                <value />
            </setting>
            <setting name="MUTEX" serializeAs="String">
                <value />
            </setting>
            <setting name="GROUP" serializeAs="String">
                <value />
            </setting>
            <setting name="ASADMIN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ASSYSTEM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TASKADMIN" serializeAs="String">
                <value />
            </setting>
            <setting name="INSTALL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="INSTALLWATCHDOG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NAMECLIENT" serializeAs="String">
                <value />
            </setting>
            <setting name="NAMEWATCHDOG" serializeAs="String">
                <value />
            </setting>
            <setting name="PUMPER" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HIDEFILE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HIDEFOLDER" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USERINIT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HKCU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HKCUNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="TASKWATCHDOG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TASKWATCHDOGNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="TASKCLIENT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TASKCLIENTNAME" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ANTIPROCESS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ANTIPROCESSMODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COMBONAMECLIENT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMBONAMEWATCHDOG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ICONBOOL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ICONPATH" serializeAs="String">
                <value />
            </setting>
            <setting name="PROXYSTRING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CTRLFLOW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RENAME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CTRLJUMP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARITHNMETIC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JUNKCODE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ASSEMBLY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PRODUCT" serializeAs="String">
                <value />
            </setting>
            <setting name="DESCRIPTION" serializeAs="String">
                <value />
            </setting>
            <setting name="COMPANY" serializeAs="String">
                <value />
            </setting>
            <setting name="COPYRIGHT" serializeAs="String">
                <value />
            </setting>
            <setting name="TRADEMARKS" serializeAs="String">
                <value />
            </setting>
            <setting name="OriginalFilename" serializeAs="String">
                <value />
            </setting>
            <setting name="ProductVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="File_Version" serializeAs="String">
                <value />
            </setting>
            <setting name="PROXYCALL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SigTheif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SigTheifPath" serializeAs="String">
                <value />
            </setting>
        </Server.Properties.Builder>
        <Server.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value>3765</value>
            </setting>
            <setting name="AutoStartPort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifynew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="notify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordWebHook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MiningGpuXmr" serializeAs="String">
                <value>True</value>
            </setting>
        </Server.Properties.Settings>
    </userSettings>
</configuration>
